.products {
    padding-top: 4em;
    padding-right: 1em;
    padding-left: 1em;
    background-color: #fff;
}

.card img {
    padding-top: 1em;
}

.card {
    margin-top: 2em;
    width: 100%;
    height: 660px;
    background-color: #fff;
    overflow: hidden;
}
.btn-secondary{
    position: absolute;
    bottom: .5em;
}

.hide-image{
    height: 0%;
    animation-name: hide-image;
    animation-duration: .4s;
    display: hidden;
}
@keyframes hide-image{
    from{height: 40%;}
    to{height: 0%; }
}

.show-image{
    height: 40%;
    animation-name: show-image;
    animation-duration: .4s;
}
@keyframes show-image{
    from{height: 0%;}
    to{height: 40%; }
}