.header{
    text-align: center;
    background-color: #000;
    color: #fff;
}
.header-items {
    padding-top: 3em;
    padding-bottom: 3em;
    
}

.header-items h2 {
    font-size: 1em;
    padding: 1em;
}
.header-items button {
    margin-right: .5em;
    margin-left: .5em;
    margin-top: .5em;
}